/* Macros */
%align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content */
.home-content {
    display: flex;
    grid-gap: 10px;
}
.home-main-content {
    @extend %align-center;
    flex-direction: column;
    width: 100%;
    grid-gap: 5px;
    margin-top: 40px;
}
.home-icon {
    width: 256px;
    height: 256px;
    margin-bottom: 20px;
}
.home-title {
    font-size: 32px;
    color: var(--color-secondary-text);
}
.home-subtitle {
    @extend %align-center;
    font-size: 18px;
    color: var(--color-secondary-text);
}
.home-subtitle[data="alt"] {
    font-weight: 400;
    color: var(--color-primary-text);
}
.home-subtitle[data="small"] {
    font-size: 14px;
}
.home-link {
    color: #66f;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
}