/* Macros */
%align-y {
    display: flex;
    align-items: center;
}

%align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content */
.page-form {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    margin-top: 10px;
}

.page-form-row {
    @extend %align-y;
    grid-gap: 10px;
    font-size: 18px;
}

.page-form-text {
    color: var(--color-primary-text);
    width: 150px;
    text-align: right;
}

.page-form-input {
    width: 200px;
    background-color: var(--color-primary-light);
    color: var(--color-primary-text);
    padding: 10px;
    border-radius: 10px;
    border: 0;
}
.page-form-input::placeholder {
    color: gray;
}
.page-form-input:disabled {
    filter: grayscale(1);
}

.page-form-switch {
    position: relative;
    width: 60px;
    height: 34px;
}
.page-form-switch input {
    width: 0;
    height: 0;
}
.page-form-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-primary-light);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 8px;
}
.page-form-switch-slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 5px;
    bottom: 5px;
    background-color: var(--color-secondary-text);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20%;
}
input:checked + .page-form-switch-slider {
    background-color: var(--color-primary-text)
}
input:focus + .page-form-switch-slider {
    box-shadow: 0 0 1px var(--color-primary-text)
}
input:checked + .page-form-switch-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.page-form-error {
    font-size: 14px;
}
.page-form-error[data="false"] {
    color: #2fd72f;
}
.page-form-error[data="true"] {
    color: var(--color-primary-text);
}

.page-form-button {
    width: 200px;
    margin-top: 20px;
}

.page-form-color-picker {
    width: 160px !important;
    height: 160px !important;
    margin: 5px;
}
.page-form-color-picker-stripe {
    width: 20px;
    height: 160px;
    border-radius: 5px;
}