/* Macros */
%align-y {
    display: flex;
    align-items: center;
}

/* Content */
.page {
    display: flex;
    min-height: calc(100vh - 56px);
    background-color: var(--color-background);
}

.page-content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 148px);
    grid-gap: 10px;
    padding: 20px;
    margin-left: 148px;
}
.page-content[data="no-padding"] {
    padding: 0px;
}

.page-header {
    @extend %align-y;
    height: 32px;
    grid-gap: 10px;
}
.page-title {
    font-size: 30px;
    color: var(--color-secondary-text);
}