/* Macros */
%align-y {
    display: flex;
    align-items: center;
}

%align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content */
.installing-daemon-instructions {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}
.installing-daemon-instruction {
    color: white;
    font-size: 20px;
}
.installing-daemon-instruction-highlight {
    color: #b7b7b7;
}
.installing-daemon-instruction-link {
    color: #66f;
    cursor: pointer;
}
.installing-daemon-instruction-code {
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 4px 8px 4px 8px;
    border-radius: 10px;
    margin-left: 4px;
    margin-right: 4px;
}

/* Icons */
.server-icon {
    width: 24px;
    height: 24px;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M4 3h16a1 1 0 0 1 1 1v7H3V4a1 1 0 0 1 1-1zM3 13h18v7a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-7zm4 3v2h3v-2H7zM7 6v2h3V6H7z'/%3E%3C/svg%3E");
    background: var(--color-secondary);
}