/* Content */
.overview-section {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}
.overview-section-items {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}
.overview-section-items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 8px;
}
.overview-section-items-actions {
    padding: 10px;
    background-color: var(--color-primary-light);
    border-radius: 10px;
}
.overview-section-items-actions-create {
    width: 200px;
}

/* Icons */
.icon-overview {
    width: 24px;
    height: 24px;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z'/%3E%3C/svg%3E");
    background: var(--color-secondary);
}