/* Macros */
%align-y {
    display: flex;
    align-items: center;
}

%align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content */
.token-server-content {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
}

.token-server-links {
    display: flex;
    grid-gap: 8px;
}

.token-server-fetch {
    color: #66f;
    cursor: pointer;
    text-decoration: underline;
}
.token-server-create {
    color: #63d083;
    cursor: pointer;
    text-decoration: underline;
}
.token-server-delete {
    color: #ff7680;
    cursor: pointer;
    text-decoration: underline;
}
.token-server-no-fetch {
    color: #6f6f6f;
}

.token-server-tokens {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
}

.token-server-token {
    display: flex;
    flex-direction: column;
    grid-gap: 4px;
    color: var(--color-primary-text);
}

.token-server-token-header {
    display: flex;
    grid-gap: 4px;
}

.token-server-token-timestamp {
    color: var(--color-primary-text);
}
.token-server-token-timestamp-highlight {
    color: #ff7680;
}