/* Macros */
%align-y {
    display: flex;
    align-items: center;
}

%align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content */
.server {
    display: flex;
    flex-direction: column;
    background-color: #202020;
    padding: 15px;
    border-radius: 5px;
    grid-gap: 5px;
}

.server-header {
    @extend %align-y;
    grid-gap: 5px;
    margin-bottom: 5px;
}

.server-name {
    color: var(--color-primary-text);
    font-size: 22px;
}

.server-charts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
}

.server-content {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.server-daemon {
    display: flex;
    color: #ff7680;
    font-size: 15px;
    grid-gap: 4px;
}
.server-daemon-highlight-red {
    color: var(--color-primary-text);
}
.server-daemon-highlight-green {
    color: #3ece3e;
}
.server-daemon-highlight-link {
    color: #66f;
    cursor: pointer;
}

.server-network-title,
.server-network-ssh {
    color: #ff7680;
    font-size: 15px;
}
.server-network-title-highlight {
    color: var(--color-primary-text);
}
.server-network-ssh-highlight {
    color: #66f;
}

.server-sections {
    display: flex;
    flex-direction: column;
    grid-gap: 2px;
}
.server-section {
    padding: 4px;
}

.server-section-title-wrapper {
    @extend %align-y;
    grid-gap: 4px;
}
.server-section-title {
    color: var(--color-primary-text);
    font-size: 18px;
}

.server-section-content {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
}

/* Icons */
.server-icon {
    width: 24px;
    height: 24px;
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M4 3h16a1 1 0 0 1 1 1v7H3V4a1 1 0 0 1 1-1zM3 13h18v7a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-7zm4 3v2h3v-2H7zM7 6v2h3V6H7z'/%3E%3C/svg%3E");
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M4 3h16a1 1 0 0 1 1 1v7H3V4a1 1 0 0 1 1-1zM3 13h18v7a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-7zm4 3v2h3v-2H7zM7 6v2h3V6H7z'/%3E%3C/svg%3E");
}

.server-section-arrow {
    width: 24px;
    height: 24px;
    transform: scale(1.25);
}
.server-section-arrow[data="true"] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 10.828l-4.95 4.95-1.414-1.414L12 8l6.364 6.364-1.414 1.414z' fill='rgba(255, 54, 69)'/%3E%3C/svg%3E");
}
.server-section-arrow[data="false"] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z' fill='rgba(255, 54, 69)'/%3E%3C/svg%3E");
}