/* Content */
.server-content {
    display: flex;
    flex-direction: column;
    grid-gap: 2px;
    margin-top: 4px;
}

.server-content-link,
.server-content-link-right {
    color: #66f;
    cursor: pointer;
}
.server-content-link[data="purple"],
.server-content-link-right[data="purple"] {
    color: #d953ff;
}
.server-content-link-right {
    margin-left: 5px;
}

.server-daemon-highlight-red {
    color: var(--color-primary-text);
}
.server-daemon-highlight-green {
    color: #3ece3e;
}

.server-content-row {
    color: #ff7680;
    font-size: 15px;
}
.server-network-title-highlight {
    color: var(--color-primary-text);
}