/* Macros */
%align-y {
    display: flex;
    align-items: center;
}

/* Content */
.header {
    @extend %align-y;

    width: 100%;
    height: 56px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 10px;

    background: var(--color-primary);
}
.header-start {
    @extend %align-y;
    display: flex;
    cursor: pointer;
}
.header-icon {
    width: 32px;
    height: 32px;
}
.header-title {
    float: left;
    margin: 0;
    padding: 0 15px;
    font-size: 24px;
    line-height: 56px;
    font-weight: 400;
    color: var(--color-secondary-text);
}

.header-nav {
    float: right;
    font-size: 100%;
}
.header-nav-link {
    display: inline-block;
    height: 56px;
    line-height: 56px;
    padding: 0 15px;
    min-width: 50px;
    text-align: center;
    text-decoration: none;
    will-change: background-color;

    background: rgba(255, 255, 255, 0);
    color: #fff;
    cursor: pointer;
}
.header-nav-link:hover,
.header-nav-link:active {
    background: rgba(0, 0, 0, 0.2);
}
.header-nav-link-active {
    background: rgba(0, 0, 0, 0.1);
    color: var(--color-primary-text);
}
.header-nav-link-text {
    margin-left: 5px;
    font-size: 14px;
}
.header-nav-link-text[data="red"] {
    color: var(--color-primary-text);
}
.header-nav-link-text[data="blue"] {
    color: #66f;
}