/* Macros */
%align-y {
    display: flex;
    align-items: center;
}

%align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content */
.panel {
    padding: 15px;
    background-color: var(--color-background);
    border-radius: 10px;
}
.panel[data="dark"] {
    background-color: var(--color-primary-light);
}

.panel-header {
    @extend %align-y;
    grid-gap: 6px;
    margin-bottom: 4px;
}
.panel-content {
    display: flex;
    flex-direction: column;
}

.panel-name {
    color: var(--color-primary-text);
    font-size: 18px;
}
.panel-link {
    color: #66f;
    cursor: pointer;
    font-size: 14px;
    margin-left: 5px;
}
.panel-content-row {
    color: #ff7680;
    font-size: 14px;
}
.panel-content-row-highlight {
    color: var(--color-primary-text);
    font-size: 14px;
}
.panel-content-row-highlight[data="green"] {
    color: #3ece3e;
}
.panel-content-row-highlight[data="blue"] {
    color: #66f;
}