/* Macros */
%align-y {
    display: flex;
    align-items: center;
}

%align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content */
.server-charts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 8px;
    margin-top: 4px;
}
.server-charts:empty {
    margin-top: 0px;
}

.server-sections {
    display: flex;
    flex-direction: column;
    grid-gap: 4px;
}

.server-section-wrapper {
    grid-gap: 8px;
}
.server-section {
    display: flex;
    flex-direction: column;
    grid-gap: 6px;
    padding: 4px 0px 4px 0px;
}

.server-section-title-wrapper {
    @extend %align-y;
    grid-gap: 4px;
}
.server-section-title {
    font-size: 22px;
    color: var(--color-primary-text);
}
.server-section-items {
    display: flex;
    grid-gap: 8px;
}
.server-section-button {
    grid-gap: 4px;
}