/* Macros */
%align-y {
    display: flex;
    align-items: center;
}

%align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content */
.create-server-form {
    margin-top: 10px;
}

.create-server-form-row {
    @extend %align-y;
    grid-gap: 10px;
    font-size: 18px;
}

.create-server-form-text {
    color: var(--color-primary-text);
}

.create-server-form-input {
    width: 200px;
    background-color: var(--color-primary-light);
    color: var(--color-primary-text);
    padding: 10px;
    border-radius: 10px;
    border: 0;
}
.create-server-form-input::placeholder {
    color: gray;
}

.create-server-form-error {
    font-size: 14px;
}
.create-server-form-error[data="false"] {
    color: #2fd72f;
}
.create-server-form-error[data="true"] {
    color: var(--color-primary-text);
}

.create-server-form-button {
    width: 200px;
    margin-top: 20px;
}

/* Icons */
.server-icon {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M4 3h16a1 1 0 0 1 1 1v7H3V4a1 1 0 0 1 1-1zM3 13h18v7a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-7zm4 3v2h3v-2H7zM7 6v2h3V6H7z' fill='rgba(255, 54, 69)'/%3E%3C/svg%3E");
}